* {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.view.chat header {
    display: block;
    width: 100%;
    padding: 15px 30px 5px;
}
.view.chat header .logout {
    position: absolute;
    top: 15px;
    right: 15px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: right;
}
.view.chat header h1 {
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}
.header_buttons {
    position: absolute;
    top: 15px;
    left: 15px;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}
.header_greeting {
    max-width: 250px;
    overflow: hidden;
    font-size: 110%;
    text-align: center;
}
