* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ea526f;
  position: fixed;
  height: 60%;
  min-width: 350px;
  width: 15%;
  right: 0;
  bottom: 0;
  border-radius: 15px 15px 0px 0px;
  min-height: 380px;
  &.chat {
    flex-direction: column;
    min-width: 350px;

    header {
      display: block;
      width: 100%;
      padding: 20px 30px 10px;

      .logout {
        position: absolute;
        top: 15px;
        right: 15px;
        appearance: none;
        border: none;
        outline: none;
        background: none;

        color: #FFF;
        font-size: 18px;
        margin-bottom: 10px;
        text-align: right;
      }

      h1 {
        color: #FFF;
      }
    }

    .chat-box {
      border-radius: 15px 15px 0px 0px;
      background-color: #FFF;
      box-shadow: 0px 0px 12px rgba(100, 100, 100, 0.2);
      flex: 1 1 100%;
      padding: 30px;
      overflow-y: scroll;


      .message {
        display: flex;
        margin-bottom: 15px;


        .message-inner {
          .username {
            color: #888;
            font-size: 15px;
            margin-bottom: 5px;
            padding-left: 15px;
            padding-right: 15px;
          }

          .content {
            display: inline-block;
            padding: 10px 20px;
            border-radius: 15px;
            color: #333;
            font-size: 15px;
            line-height: 1.2em;
            text-align: left;
            word-break: break-all;
            max-width: 250px;
          }
        }

        &.current-user {
          justify-content: flex-end;
          text-align: right;

          .message-inner {
            max-width: 75%;

            .content {
              color: #FFF;
              font-weight: 600;
            }
          }
        }
      }
    }

    .chat-box::-webkit-scrollbar {
      width: 1em;

    }

    .chat-box::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
    }

    .chat-box::-webkit-scrollbar-thumb {
      background-color: #C0C0C0;
      border-radius: 15px;

    }

    footer {
      position: sticky;
      bottom: 0px;
      background-color: #FFF;
      padding: 10px;
      box-shadow: 0px 0px 12px rgba(100, 100, 100, 0.2);

      form {
        display: flex;

        input[type="text"] {
          flex: 1 1 100%;
          appearance: none;
          border: none;
          outline: none;
          background: none;
          display: block;
          width: 100%;
          padding: 10px 15px;
          border-radius: 8px 0px 0px 8px;

          color: #333;
          font-size: 15px;
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          background-color: #F3F3F3;
          transition: 0.4s;

          &::placeholder {
            color: #888;
            transition: 0.4s;
          }
        }
        textarea {
          flex: 1 1 100%;
          appearance: none;
          border: none;
          outline: none;
          /*background: none;*/
          display: block;
          width: 100%;
          padding: 1px 5px;
          border-radius: 8px 0px 0px 8px;
          resize: none;
          color: #333;
          font-size: 15px;
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
          background-color: #F3F3F3;
          transition: 0.4s;

          &::placeholder {
            color: #888;
            transition: 0.4s;
          }
        }

        input[type="submit"] {
          appearance: none;
          border: none;
          outline: none;
          display: block;
          background-color: #ea526f;
          color: #FFF;
        }


        label{
            appearance: none;
            border: 1px solid white;
            outline: none;
            display: block;
            background-color: #ea526f;
            color: #FFF;
          cursor: pointer;
        }
        label:first-child{
          border-radius: 0px 8px 0px 0px;
        }
        label:nth-child(3){
          border-radius: 0px 0px 8px 0px;
        }

      }
    }
  }
}

.cloi{
  position: absolute;
  top: 15px;
  left: 15px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  color: #FFF;
  margin-bottom: 10px;
  text-align: left;
}

button,
button:active,
button:focus {
  outline: none;
  cursor: pointer;
}