.clients-header {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;

}

.clients-header h4{
    cursor: pointer;
}

.clients-header__topic{
    display: flex;
    justify-content: space-between;
}

.clients-header h4{
    cursor: pointer;
    display: inline-block;
    color: #05728f;
    font-size: 21px;
}

.clients-header__seach-bar {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.clients-header__seach-bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 200px;
    padding: 2px 0 4px 6px;
    background: none;
    outline: none;
}

.clients-header__seach-bar .clients-header__input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
}

.clients-header__seach-bar .clients-header__input-group-addon {
    margin: 0 0 0 -27px;
}

.search-bar {
    outline: none;
}

.status_list ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.status_list ul > li {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #c4c4c4;
    cursor: pointer;
}

.status_list ul > li:hover:not(.activeStatus) {
    background-color: #AAAAAA;
    color: white;
}


