
.client-list {
    height: calc(100% - 130px);
    overflow-y: auto;
    flex-direction: column;
    position: relative;
}
.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateX(10px);
}

.client-list__client-card {
    border-bottom: 1px solid #c4c4c4;
    padding: 18px 16px 10px;
    display: flex;
    margin: 0;
}
.client-list__client-card:hover {
    background-color: #ebebeb;
}

.client-list__client-img {
    width: 11%;
}



.client-list__last-message h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
}

.client-list__last-message h5 span {
    font-size: 13px;
    position: absolute;
    right: 10px;
}

.client-list__observer{
    height: 5px;

}

.client-list__last-message p {
    font-size: 14px;
    color: #989898;
    margin: auto
}
.client-list__last-message {
    padding: 0 0 0 15px;
    width: 88%;
}
.client-list__loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #555;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left:40%;

}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}